
.booking-confirm-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    margin-bottom: 8px;
}

.booking-confirm-modal img {
    width: 350px;
    border-radius: 5px;
}

.booking-confirm__title {
    width: 300px;
    margin: 8px;
    font-size: 25px;
    text-align: center;
}

.booking-confirm__numGuests,
.booking-confirm__checkin,
.booking-confirm__checkout {
    width: 300px;
    margin: 8px;
}
