.create-house-form {
    padding: 50px;
    margin: 0 auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 10px 1px;
    width: 500px;

}

.create-house-form input {
    margin: 8px;
    height: 40px;
    border-radius: 20px;
    width: 100%;
}

.create-house-form textarea {
    margin: 8px;
    height: 70px;
    width: 100%;
    border-radius: 15px;
}
