/* PLACEHOLDERS */


/* ===== PAGE LAYOUT STYLES ===== */
.house-profile__body {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto;

  grid-template-areas:
                      "top top"
                      "left right"
                      "bottom bottom";

  padding: 60px 150px;
  padding-top: 80px;
  max-width: 1200px;
  margin: auto;

  font-family: "Roboto", sans-serif;
}

.house-profile__body-top {
  grid-area: top;
  width: 100%;

  margin-bottom: 30px;

  /* padding: 30px 30px; */
}

.house-profile__body-top > * {
  margin: 20px 0;
}

.house-profile__image-wrapper {
  min-width: 700px;
  max-width: 1200px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  overflow: hidden;
}

.house-profile__body-top img {
  width: 100%;
}

.house-profile__body-left {
  grid-area: left;
  padding: 0 30px;
}

.house-profile__body-left > * {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 30px 0;
}

.house-profile__body-right {
  grid-area: right;
  padding: 0 30px;
}

.house-profile__body-bottom {
  grid-area: bottom;
  padding: 0 30px;
}

.house-profile__title > * {
  margin: 20px 0;
}

.house-profile__title > *:first-child{
  font-size: 30px;
  font-weight: bold;
}

.house-profile__subtitle {
  height: 60px;
  width: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "top pic"
  "bottom pic";
}

.house-profile__subtitle > span:first-child {
  font-size: 24px;
  font-weight: bold;
}

.house-profile__subtitle > span:nth-child(2) {
  display: flex;
  align-items: flex-end;
}

.house-profile__subtitle > img{
  height: 100%;

  border-radius: 100px;

  grid-area: pic;
}


/* ===== COMPONENT STYLES ===== */
.house-profile__section-title {
  font-size: 25px;
  font-weight: bold;
  padding: 8px 0;
}

.house-profile__booking-container {
  position: sticky;
  top: 120px;

  width: 335px;
  height: 250px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(120, 120, 120, .3);
  /* background-color: rgba(200, 120, 45, .3) */
}

.house-profile__description {
  line-height: 1.6em;
}

.amenity-item {
  padding: 7px 0;
  font-size: 20px;
}

.amenity-item > *:first-child {
  width: 30px;
}

#amenities-dialog-title {
  padding-bottom: 0;
}

.house-profile__back-arrow {
  font-size: 30px;
  position: fixed;
  top: 115px;
  left: 65px;

  cursor: pointer;
}

.house-profile__back-arrow:hover {
  transform: scale(1.3);
  transition: transform 100ms ease-in-out;
}

/* ===== GHOST RATING ===== */
.ghost-rating__container > * {
  margin: 2px;
  cursor: pointer;
}

.ghost-rating__container > *:hover {
  text-shadow: 0 0 2px orange;
}

.ghost--on {
  color: black
}

/* ===== BOOKING CARD STYLES ===== */
.house-profile__booking-card {
  width: 335px;
  height: 250px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(120, 120, 120, .3);
  /* background-color: rgba(200, 120, 45, .3) */
}

.booking-card__container {
  padding: 20px;
  margin: 0 auto;
}

.booking-card__flex-group-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.booking-card__flex-group-1 span {
  font-weight: bold;
  font-size: 25px;
}

.date-selector__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.date-selector__container input {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 15px;
  width: 200px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

.date-selector__container input:focus {
  box-shadow: 0 0 7px 1px rgba(170, 170, 170, .5);
}

.date-selector__container form {
  width: 100%;
}

.booking-card__submit button,
.booking-confirm-button {
  width: 208px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 15px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.booking-card__submit button:hover,
.booking-confirm-button:hover {
  box-shadow: 0 0 7px 1px rgba(170, 170, 170, .5);
  transform: scale(1.03);
  transition: transform 10ms ease-in-out;
}

.ghost--off {
  color: grey
}






/* ===== BOOKING CONFIRMATION MODAL ===== */
.booking-confirm-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    margin-bottom: 8px;
}

.booking-confirm-modal img {
    width: 350px;
    border-radius: 5px;
}

.booking-confirm__title {
    width: 300px;
    margin: 8px;
    font-size: 25px;
    text-align: center;
}

.booking-confirm__numGuests,
.booking-confirm__checkin,
.booking-confirm__checkout {
    width: 300px;
    margin: 8px;
}
