
.listings__container {
    min-width: 900px;
    max-width: 1400px;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 100%; */
    justify-content: space-around;
    position: relative;
    top: 60px;
}

.listings__container .title {
    font-size: 40px;
    width: 100%;
    margin: 10px;
}

.listings__listing-card {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 10px;
}

.listings__listing-card .rating-container {
    padding: 5px;
}

.listings__listing-card .rating-container i {
    color: rgb(192, 192, 192);
}

.listings__listing-card:hover {
    cursor: pointer;
}

.listings__listing-card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.listings__listing-card i {
    font-size: 20px;
}

.listings__listing-card h2 {
    font-size: 20px;
    padding: 5px;
}

.listings__listing-card h3 {
    font-size: 15px;
    padding: 5px;
}

strong {
    font-weight: bold;
}