.login-form {
  font-family: "Roboto", sans-serif;
  font-size: 12px;


  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__top{
  margin:none;

  width:100%;

  font-size: large;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.login-form__top h1 {
  font-size: 20px;

}

.login-form__close{
  cursor: pointer;
}

.login-form__button {
  font-size: 14px;

  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.login-form__button:hover {
  border-color: black;
  cursor: pointer;
}

.login-form__errors {
  color: darkred;
  background: rgba(255, 125, 125, .2);
  border-radius: 10px;
  border: 1px solid darkred;
  padding: 10px;
}
