nav {
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;

  background-color: white;

  box-shadow: 0 0 20px 5px rgba(120, 120, 120, .1);

}

.navbar__left {
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.navbar__center {
  /* width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content:space-between;
  align-items: center;
  font-family: "Roboto", sans-serif; */
  /* font-weight: 600; */
  /* padding: 10px;
  border-radius: 16px;

  color: black;

  text-decoration: none */

  /* visibility: hidden; */
}
.navbar__center a {
  text-decoration: none;
  color: black;

  text-decoration: none


}

.navbar__right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 10px;
}

.navbar__right > * {
  margin: 0 10px;
}

.navbar__logo {
  height: 120px;
  margin: auto 50px;
}

.navbar__link {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  /* font-weight: 600; */
  padding: 10px;
  border-radius: 16px;
  
  color: black;
  
  text-decoration: none;
}

.navbar__link:hover {
  background-color: whitesmoke;
  cursor: pointer;
}


.github-button {
  font-family: 'Roboto';
  font-size: 14px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 4px 5px;
  cursor: pointer;
}

.github-button:hover {
  box-shadow: 0 0 5px rgba(0, 0 , 0, .4);
  transition: box-shadow 0.3s;
}

.github-button a {
  color: black;
}

.github-button a:hover {
  text-decoration: none;
}

.github-button a:focus,
.github-button a:active {
  outline: none
}
