.image-input__container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top:-15px;
}

.image-input__container > input {
  margin-bottom: 20px;
}

.image-input__selector-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  margin-bottom: 5px;
  margin-top: -40px;
}

.image-input__filename {
  margin: 20px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cropper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-cropper__container {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;

  border-radius: 20px;
  overflow: hidden;
}

.image-cropper__previous-upload {
  width: 400px;
  height: 200px;
}

.image-input__button {
  padding: 10px;
  border: 2px solid orange;
  background-color: orange;
  border-radius: 100px;
  margin-top: 40px;
}

.image-input__button:hover {
  border-color: black;
  cursor: pointer;
}
